################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCTask/MVCTask/obj
/MVCTask/MVCTask/bin/Debug/netcoreapp3.1
/.vs
/MVCTask/.vs/MVCTask
